#canvas {
	position: absolute;
	z-index:1;
	border: 1px solid black;
}

#player {
    position: absolute;
    z-index:3;
    border: 1px solid black;
}

#choises {
    position: absolute;
    z-index:2;
    border: 1px solid black;
}

#ui {
    position: absolute;
    z-index:4;
    border: 1px solid black;
}
    
#bgmainMenu {
    position: absolute;
    z-index:5;
    border: 1px solid black;
}

#optionsMenu{
    position: absolute;
    z-index: 7;
    border: 1px solid black;
}

#gameOver {
    position: absolute;
    z-index : 6;
    border: 1px solid black;
}